<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WZ.Infrastructure.Tessitura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WZ.Infrastructure.Tessitura.Properties.Settings>
            <setting name="WZ_Infrastructure_Tessitura_com_tessiturasoftware_tessitura_Tessitura"
                serializeAs="String">
                <value>https://tessweb-fs-test.milwaukeeartspartners.org:8084/WebAPI_MP2Test/Tessitura.asmx</value>
            </setting>
        </WZ.Infrastructure.Tessitura.Properties.Settings>
    </applicationSettings>
</configuration>